.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 800px;
    margin: 100px auto;
    background-color: #d0dfef;
    padding: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
