.footer {
    height: 70px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer_paragraph {
    margin-right: 19px;
    font-weight: bold;
    text-align: center;
}
